@use "../base/variables.scss" as *;

@mixin title{
    color: $dark;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

@mixin button{
    display: block;
    border-radius: 2px;
    padding: 0 10px;
    background-color: transparent;    
    border: 1px solid $dark;
    text-align: center;
    color: $dark;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}