@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/libs/grids-min.css";
@use "/src/sass/libs/grids-responsive-min.css";
@use "/src/sass/libs/fontello.css";
@use "/src/sass/base/variables" as *;
@use "/src/sass/base/basic.scss";

@use "/src/sass/blocks/header.scss";

@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";

@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/activities.scss";
@use "/src/sass/blocks/touch.scss";


// @use "/src/sass/pxtorem.scss" as *;



// @import "base/variables.scss";




// span {
// 	font-size: 32px;
// 	width: 480px;
// 	height: 320px;
// 	// color: vars.$ui-error;
// 	color: $ui-error;
// }

