@use "/src/sass/base/variables.scss" as *;

.activities{
    padding-top: 60px;
    &__wrapper{
        margin-top: 20px;
        row-gap: 40px;
    }
    &__img{
        margin-top: 40px;
         box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
         width: 100%;
    }
    &__text{
        // margin-top: 20px;
        margin-block-start: 20px;
       
        font-weight: 400;
        font-size: 16px;
        color: $dark;
        &-colored{
            font-weight: 500;
            color: $ceramic;
        }
    }
}


@media screen and (min-width: 768px) {
    .activities{
        padding: 60px 95px 0 95px;
        &__wrapper{
            margin-top: 40px;
        }
        &__text{
            // margin-top: 25px;
            margin-block-start: 25px;
            font-size: 20px;
            
        }
    }
}




@media screen and (min-width: 1200px) {
    .activities{
        padding: 60px 0 0 0;
        &__wrapper{
            margin-top: 80px;
        }
        
        &__col{
            padding: 0 10px;
        }
        &__img{
            margin-top: 60px;
        }
        &__text{
            &-fixed{
                // width: 556px; 
                inline-size: 556px;  
            }
        }        
    }
}

@media screen and (min-width: 1920px) {
    .activities{
        padding-top: 100px 0 0 0;                
    }
}