@use "/src/sass/base/variables.scss" as *;

.touch{
    padding-top: 60px;
    &__wrapper{
        margin-top: 45px;
    }
    &__img{
        display: none;
    }
    &__fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
    &__label{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: $dark;
        &:nth-child(2){
            margin-top: 8px;
        }
    }
    &__input{
        width: 100%;
        height: 48px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        color: $dark;
        background: #fff;
        &:hover{
            border: none;
            outline: 1px solid $dark;
        }
        &:focus{
            border: none;
            outline: 1px solid $dark;
        }
        &::placeholder{
            color: $ui-disabled;
            font-size: 14px;
        }
    }
    &__textarea{
        width: 100%;
        height: 132px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        color: $dark;
        background: #fff;
        resize: none;
        &:hover{
            border: none;
            outline: 1px solid $dark;
        }
        &:focus{
            border: none;
            outline: 1px solid $dark;
        }
        &::placeholder{
            color: $ui-disabled;
            font-size: 14px;
        }
    }
    &__check-block{
        margin-top: 20px;
        display: flex;
        align-items: center;
        a{
            color: #a22dc6;
            text-decoration: none;
            margin-left: 2px;
        }
    }
    &__checkbox{
        vertical-align: middle;
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }
    &__btn{
        margin-top: 20px;
    }
    &__decor {
		display: none;
	}
}

@media screen and (min-width: 768px) {
    .touch{
        &__form{
            position: relative;
            width: 300px;
            padding-left: 24px;
        }
        &__decor{
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
}


@media screen and (min-width: 1200px) {
    .touch{        
        &__wrapper{
            margin-top: 80px;
            // gap: 40px;
        }
        
        
        &__img{
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }
        &__input{
            &:hover{
                border: none;
                outline: 1px solid $dark;
            }
            &:focus{
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}


@media screen and (min-width: 1920px) {
    .touch{                            
        &__img{            
            width: 100%;
            height: 356px;
        }
    }
}